<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.opentech.automatid.demoapp">

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity,GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
